# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
TerarkDB_Test_Framework
#cmake file 
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
#clion file
.idea/
cmake-build-debug/
build/*
shell/experiment

# fuck, vim backup
*~

# my own thing
src/engine/CMakeLists.txt
src/engine/include/rocksdb
